<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        Newsletter
    </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('styleModified.css') }}"/>
</head>
<body>
<div class="outer">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <img style="position: absolute;height: 50px; width: 50px; margin-top: 20px; margin-left: 20px; margin-bottom: 50px;" src="{{ asset("images/img_68585.png") }}" />
    </a>
    <div class="middle">
        <div class="inner">
            <form>
                <h1>Newsletter sent successfully</h1>
                <div class="inset">
                    <label>The newsletter with the message you provided was successfully sent.</label>
                    <a class="dashboardButton" href="{{ path('sonata_admin_dashboard') }}">
                        Dashboard
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
